body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}
#root{
  overflow: hidden;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
        body {
            font-family: 'Open Sans', sans-serif;
            
        }

        body p {
            font-style: italic;
            font-weight: 300; /* You specify the number you see next to the fonts to change from light to bold ie you would put 700 etc. etc. */
        }

.mainnav div{
    background-color: #072B49;
    display:flex;
}
.mainnav{

}

.mainnav div ul{
    display:flex;
}
.mainnav div ul:first-child{
    flex-basis: 30%;
    align-items: center;
    justify-content: center;
}
.mainnav div ul:first-child li{
    width: 100px
}
.mainnav ul:last-child{
    flex-basis: 55%;
    justify-content: flex-end;
    align-items: center;
}
.mainnav ul:last-child li{
    width: 110px
}

.mainnav a{
    text-decoration: none;
    color: white;
}


/*Slider*/

.mainslider{
    width: 100%;
    height:400px;
    background-color: #072B49;
}
#sliderrr .imagesSlider img{
    width: 100%;
    width: 1920px;
  }
  
   
  .mainslider img {
    margin: auto;
    display: block;
    width: 100%;
    max-height: 400px;
  }
   
  
  .images-slideshow {
    max-width: 1920px;
    max-height: 520px;
    position: relative;
    margin: auto;
  }
   
  .slider-btn{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 8px 16px;
    margin-top: -22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    border-radius: 50%;
    color: white;
    border: 1px solid white;
  }
   

  .previous {
    left: 2%;
  }

  .next {
    right: 2%;
  }
   

  #couterr{position: absolute;
  color:white;
  right: 45px;
  font-size: 12px;

  top: 55%;
  }

  .previous:hover,
  .next:hover {
    color: rgb(255, 253, 253);
    background-color: rgba(0, 0, 0, 0.8);
  }
  







/*Articlebox*/
.mainarticlebox{
    position: relative;
    display:flex;
    justify-content: center;
    width: 100%;
    
}

.Navwrap{
    display:flex;
    justify-content: center;
    background-color: #072B49;
}
.mainnav{
    
    font-size: 12px;
    font-weight: 700;
}
#articleboxtext img{
    width: 207px;
}
#articleboxtext{
    z-index: 200;
    width: 950px;
    -webkit-box-shadow:-1px 3px 7px -1px rgba(166,166,166,0.65);
    box-shadow: -1px 3px 7px -1px rgba(166,166,166,0.65);
    height:170px;
    display: flex;

}
.colorfill{
    flex-basis:calc((100%-950px)/2) ;  
}

.articletop{
    width: 100%;
    background-color: #072B49;
    flex-basis: 100% ;
    height: 85px;
    }

#responsivemenu{display: none;}

.articlebot{
        width: 100%;
        background-color: #f5f5f5;
        flex-basis: 100% ;
        height: 85px;
    }

/*Mainbody*/

.klammerlink::after{
 
  margin-left: 10px;
  font-weight: bolder;
}
a{
  text-decoration: none;
}
#mail{
  -webkit-box-shadow:-1px 3px 7px -1px rgba(166,166,166,0.65);
  box-shadow: -1px 3px 7px -1px rgba(166,166,166,0.65);
  border: 0px solid;
}

#mail2{
  -webkit-box-shadow:-1px 3px 7px -1px rgba(166,166,166,0.65);
  box-shadow: -1px 3px 7px -1px rgba(166,166,166,0.65);
  border: 1px transparent solid ;

}


.klammerlink{
  color:#072B49;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  font-weight: 700;
  z-index: 15;
  
}

.midwrap{
  display:flex;
  justify-content: center;
}
#mainpagelinks{
  display:flex;
  justify-content: center;
  position: relative;
}

.midtoptext div:last-child{

  justify-content: center;
}

.midtoptext{
    display:flex;
    justify-content: center;
    height: 345px;
    align-items: center;
    background-color: #f5f5f5;
    padding-bottom: 15px;
}

.midtoptext h6{
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: -15px;
    opacity: 0.9;
}

.midtoptext h3{
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 15px;
}

.mainbody{
    background-color: #f5f5f5;
    /*height: 1150px;*/
    margin-top: -10px;
}
.midtext{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.midtext h3{
  font-size: 28px;
  margin-top: -2px;
  font-weight: 200;
  margin-bottom: 17px;
}

.midtext p{
  font-weight: 600;
  font-size: 80%;
  opacity: 0.9;
  font-style: normal;
  margin-top: -50px;

}
.midimg{
    margin-top: -25px;
    position: relative;
}

.midimg img{
    position: absolute;
    z-index: 12;
    top:-130px;
    height: 750px
}

#bodymid{
    background-color: #ffffff;
    display: flex;
    height:580px
    ;width: 100%;
}

.mainnews{
    display: flex;
    padding-top: 55px;
    padding-bottom: 55px;
    justify-content: center;
    
}

.wrapperNews{
  display:flex
  ;width:1215px
}



#signupmain{
    flex-basis: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

#signupmain h3{
  font-size: 36px;
  font-weight: 200;
  opacity: 0.9;
}

#subBtn{
  padding: 8px;
  margin-top: 19px;
  background-color: #072B49;
  color:white;
  padding-left: 11px
  ; border-radius: 2px;
  letter-spacing: 0.03em;
}

#subBtn::after{
  font-weight: bold;
  margin-left: 30px;
}

#mail{
  margin-top: -2px;
 width: 350px;
 height: 35px;
  
}
#responsivebtn{
  display: none;

}

#responsivebtn button{
  width: 48px;
  height: 48px;

  background-image: url("./pictures/respbtn.png");
  background-size: cover;
  background-color: #072B49;
}
#arrow3{
  width: 9px;
  height: 9px;
  margin-left: 50px;

}
#overlay{
  display: none;
}
#textblock{
  text-align: center;

  z-index: 550;

}
#respimg{
  display:none;
}
#logo img{
  width: 50px;
}
#logo{
  width: 50px;
}
.activebtn{
  transform: rotate(90deg);
  transition-duration: 300ms;
}

#responsivemenu{
  display: none;
  width: 100%;
  color: white;
  text-decoration: none;
  list-style: none;
  margin-left: -25px;
  
}
#responsivemenu li:last-child{
  border-bottom: 1px solid white;
}
#responsivemenu li{
  list-style: none;
 border-top: 1px solid white;
 width: 100%;
 padding:6px;
}
#responsivemenu a{
  color: white;
}
.active{
  display: block !important;
}
#custsupportli{
  position: relative;
}

#CustSupportAdd{
  height: 15px;
  width: 15px;
 background-size: cover;
  z-index: 100;
  display: inline-block;
 position: absolute;
 top: 9px;
right: 47px;
background-image: url("./pictures/custpoint.png");
}

#signupinfo{
    position: relative;
}
#signupinfo label{
  color:rgba(0, 0, 0, 0.65);
  margin-left: 7px;
  font-size: 90%;
}

.mainfooter{
    background-color: #072B49;
    height:225px;
}
.footerbtnwrapper h5, .footerbtnwrapper a{
  opacity: 0.7;
}
.footerbtnwrapper a{
  font-size: 10px;
}
.footerbtnwrapper h5{
  font-weight: 400;
  font-size: 10px;

}

#pipepic{
    position: absolute;
    right:-241px;
    top: 213px;
    width: 170px;
   
}

#pipepic2{
  float:right;
  top: 1720px;
  width: 110px;
  right: 2px;
  position: absolute;
 
}

#pipepic23{
  float: right;
 

}

#pipepic3{

  margin-top: -95px;
  width: 130px;
 
}
.mainfooter{
    display:flex;
    justify-content: center;
}

.mainfooter ul{
    list-style: none;
}

.mainfooter2{
    width: 100%;
    background-color: #072B49;
}
#unterfooter{
    max-width: 1215px;
    margin: 0 auto;
}


.Footerwrap{
    max-width: 1200px;
    color:#ffffff;
    display:flex;
    justify-content: center;
}

.footer2spalte ul{
   display: flex;

}
.footer1spalte{
    min-width: 200px;
}
.footer1spalte h4{
    margin-left: -2px
}
.footer2spalte h4{
    margin-left: 63px
}
.footer2spalte ul ul{
    display: block;

  }

.articlewrap:first-child{
    border-right: 1px  #ccc;
    border-left: 0px #ccc;
    border-top: 0px solid;
    border-bottom: 0px solid;
    border-style: dotted dashed ;

}
.articlewrap:last-child{
    border-left:1px #ccc;
    border-right: 0px solid;
    
    border-top: 0px solid;
    border-bottom: 0px solid;
    border-style: dotted dashed ;
}
#custsupport{
  margin-left: 5px;
}
.articlewrap {
  background-color: #ffffff;
    text-align: center;
        flex-basis: 33.3333%;

}

#unterfooter{
    background-color: #072B49;
    display:flex;
}

#unterfooter ul{
    display:flex;

}

#unterfooter ul li{
    width: 50px;
}


.footerbtnwrapper2 select{
    max-height: 40px;
    margin-top: 20px;
    border:1px solid #ccc;
    background-color: #072B49;
    color:white;
    width: 125px;
  }
  .footerbtnwrapper2 select:first-child{
    margin-right: 25px;
  
  }
  .footerbtnwrapper2{
    color:white;
    display:flex;
    justify-content: center;
    max-width: 1215px;
    width: 100%;
    height: 60px;
  }
  
  .footerbtnwrapper2 div:first-child ul li:first-child{
    margin-left: -39px;
    float:left
  }
  
  .footerbtnwrapper2 div:first-child{
  flex-basis: 20%;
  margin-left: 0px;;
  display:flex;
    justify-content: flex-start;
  
  }
  .footerbtnwrapper2 div:last-child{
    justify-items: flex-end;
    flex-basis: 80%;
    display:flex;
    justify-content: flex-end;
  }
  
  .iconhold{
    width: 25px;
    height: 25px;
    
    margin: 15px;
  }


  .fb{
    background-image: url("./pictures/fbicon.png");
    background-size: cover;
  }
  .in{
    background-image: url("./pictures/inicon.png");
    background-size: cover;
  }
  .ig{
    background-image: url("./pictures/igicon.png");
    background-size: cover;
  }
  .yt{
    background-image: url("./pictures/yticon.png");
    background-size: cover;
  }
  
  .footerbtnwrapper2 ul{
    display:flex;
    list-style: none;
  }

  .footer1spalte li{
    padding-top: 10px;
    font-size: 13px;

  }

  .footer2spalte li{
    font-size: 13px;
    font-weight: 200;
  }
  .footerbtnline{

    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #072B49
  }
  .Footerwrap h4{
    color:rgba(255, 255, 255, 0.4);
    font-weight: 500;
  }
  .footerbtnwrapper{
    color:white;
    display:flex;
    justify-content: center;
    max-width: 1215px;
    width: 100%;
    height: 80px;
    font-size: 12px;
  }
  
  
  
  .footerbtnwrapper div:first-child{
    flex-basis: 20%;
  }
  .footerbtnwrapper div:last-child{
    flex-basis: 80%;
    justify-content: flex-end;
  
    
  }

  #Langs::before{
    content: url("./pictures/footicon1.png");
  
  }

  #Coutry::before{
    content: url("./pictures/footicon2.png");
    
  }
  
  .footerbtnwrapper div:last-child ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
  
  }
  #pp{
    color:#072B49
    ;text-decoration: underline;
    font-weight: 600;
    font-size: 95%;
  }
  #pp:hover{
    cursor: pointer;
    opacity: 0.7;
  }
  button:hover{
    cursor: pointer;
    opacity: 0.7;
  }
  a:hover{
    cursor: pointer;
    opacity: 0.7;
  }

  .footerbtnwrapper div:last-child ul li{
    width: 80px;
    text-align: end;
  }
  
  .footerbtnwrapper div:last-child ul li:last-child{
    width: 300px;
    margin-left: 0px;
  }
  #legalnotice{
    margin-left: 12px;
    margin-right: -8px;
  }

  .articlewrap button{
      border-radius: 60%;
      width: 22px;
      height: 22px;
      color: rgba(72, 71, 71, 0.6);
      border: 1px solid #E5E4E2;
      margin-left: 10px;
      background-color: white;
      font-weight: 600;
      position: absolute;
      top:137px;
  }

  .articlewrap button:hover{
    opacity: 0.7;
    cursor: pointer;
  }
  #search{
    margin-left: -7px;
  }
  .mainnav ul{
    list-style: none;
  }

  .mainnav img{
    margin-left: -40px
  }

  #Usernav li:first-child{
    display: flex;
    align-items: center;
    width: 211px;
  }
  #Usernav li:first-child a::after{

  }
  #Usernav li:first-child img{
  
    margin-left: 0px

  }

  #Usernav li:first-child p{
  
    margin-left: 16px;
    margin-top: 15px;
    font-size: 1.5em;
    font-weight: 500;
    opacity: 0.3;
    color:white
  }

  #Usernav li:first-child a{
    margin-right: 5px;
  }
  #Usernav li{
    width: 45px

  }

  #scartnbr{
    background-color: #a7d3f9;
  
    border-radius: 50%;
    width: 16px;
    position: absolute;
    height: 16px;
    margin-top: -10px;
    margin-left: -0px
  }

  #scartnbr p{
    position: absolute;
    top:-9px;
    left: 5px;
    font-size: 80%;
    font-weight: bold;
    font-style: normal;
    
  }
  #dlllink{
    color: #072B49;
    color:#072B49;
    text-align: center;
   
    font-size: 12px;
    font-weight: 700;
    z-index: 15;
  }

  .footer1spalte{
    flex-basis: 20%;
  }
  .footer2spalte{
    flex-basis: 40%;
  }

  #signupinfo p{
    width: 400px;
    font-style: normal;
    opacity: 0.9;
  }


  .footer2spalte li{
    margin-top: 3px;
  }
  #footerlogoarea div{
    max-width: 1215px;
  }

  #footerlogoarea img{
    margin-top: 70px;
  }
  #footerlogoarea{
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: #072B49;
  }

  .mainnav ul{
    text-align: center;
  }
  #loginmenu{
    display:none;
   width: 200px;
   height: 75px;
   border: 1px solid white;
   z-index: 999;
  }

  #login{
    position:relative;
  }
  #login:hover #loginmenu{
    display:block !important;
    position:absolute
  }


#loginmenu{
  width: 200px;
  margin-left: -150px;
}
#loginmenu input{
  width: 150px;
  margin-top: 10px;
  float:right;
}
#loginmenu label{
  color:white;
  margin-top: 10px;
  float:left;
}

.arrowbotton{
  position: relative;
}
.arrowbotton img{
  position: absolute;
  width: 148px !important;
  height: 8px;
  left: -64px;
  top:6px;
}
#arrow1, #arrow2{
  margin-left: 7px;
}

.articlespan{
  margin-top: -5px !important;
}

@keyframes example {
  0%   {opacity: 0;}
  25%  {opacity: 0.35;}
  67%  {opacity: 0.75}
  100% {opacity: 1;}
}

.active{
animation-name: example;
animation-duration: 1s ;
animation-iteration-count: 1;
}

/*Searchbar*/

.search {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 55px;
}

#lupe {

  background-color: none;
  width: 35px;
  height: 35px;
  margin-left: 25px;
  align-self: center;
  background-size: cover;
  border-radius: 10px;
}

#clearBtn {

  background-color: none;
  width: 35px;
  height: 35px;
  margin-left: 25px;
  align-self: center;
  background-size: cover;
  border-radius: 10px;
}

.search input {
  position: relative;

  left: 20px;
  height: 30px;
  border-radius: 5px;
}

.searchInputs {
  padding-top: 10px;
  width: 300px;
  display: flex;
  border-radius: 15px;
  background-color: none;
}

.dataResult {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  flex-direction: column;
  height: auto;
  padding-bottom: 25px;
}

.dataItem {
  width: 300px;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  float: left;
  z-index: 1;
  border: 1px solid black;
  box-shadow: 2px 2px #333;
  padding: 5px;
  margin-top: 5px;
  border-radius: 3px;
  color: whitesmoke;
  opacity: 0.8;
  margin-left: 200px;
  background-image: linear-gradient(to right, #28313b, #485461);
}

.dataItem h4 {
  border-bottom: 3px solid grey;
  background-color: white;

  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 3px;
  margin-bottom: 3px;
}

.dataItem p {
  padding: 10px;
  font-size: 16px;
}
.opstuff {
  display: flex;
  justify-content: center;
}

#search{
  position: relative;
}

#search:hover #searchbarinclude{
  display: block;
}

#searchbarinclude{
  display:none;
  z-index: 1000;
  right: 0px;
  top: 20px;
  width: 300px;
  height: 200px;
  
  position: absolute;
}


#Langs{
  padding-left: 30px ;
  position: relative;
}

#Country{
  padding-left: 30px;
  position: relative;
}
#langicon{
  position: absolute;
  z-index: 150;
  top: 33px;
  right: 100px;
}
#conticon{
  position: absolute;
  z-index: 150;
  top: 33px;
  right: 248px;
}
#langselec{
  position: relative;
}
.articlewrap a{
  font-size: 12px ;
  font-weight: 600;
}