@media only screen and (min-width: 1200px) {
    .Footerwrap{
      width: 1215px;
      text-align: left;
    }

    .footer1spalte ul li{
     margin-left: -15px;
    }
    .footer2spalte ul li{
      margin-left: -15px;
     }

     .footer1spalte ul{
      margin-left: -25px;
     }
     #footerlogoarea div{
      width: 1215px ;
    }
  }

  @media only screen and (min-width: 1350px) {
    .mainnav{
        width: 1350px;
    }
    .colorfill{ 
    flex-basis: calc((100%-1350px)/2);
    }
    #articleboxtext{
      width: 1350px;
    }
  }
  @media only screen and (min-width: 1590px) {
    .mainnav{
        width: 1590px;
    }
  }
  @media only screen and (min-width: 2320px) {
  #pipepic2{
    display: none;
  }}


  @media only screen and (max-width: 1140px) {

    .mainnav div{
        flex-wrap: wrap;
    }

    .mainnav ul:last-child {
        flex-basis: 25%;
    }
    #pipepic{
        display: none;
    }
    .mainfooter{
        height: 550px;
        justify-content: flex-start;
    }
    .Footerwrap{
        flex-wrap: wrap;
    }
    .footer2spalte{
        flex-basis: 100%;
    }
    .footer1spalte{
        
    }
    #frontbtn{
      display: none;
    }
    #nextbtn{
      display: none;
    }
    #couterr{
      display:none;
    }
    #sliderrr{
      display:none;
    }

    #respimg{
      display: block;
    height: 200px;
      min-width: 1100px;
      width: 100%;
      
    }

  }

  @media only screen and (max-width: 1024px) {
    #bodymid{
      display: block;
      position: relative;
    }

    .midtext{
      position: absolute;
      z-index: 450;
      width: 100%;
      display: block;

    }
    #overlay{
      display: block;
      width: 100%;
      z-index: 449;
      height: 600px;
      margin-top:-70px;
      opacity: 0.5;
      background-color: #333;
    }
    #textblock{
      position: absolute;
      right: 30%;
      top:40%;
      color:white;
   
    }
    #textblock a{
      background-color: white;
      padding: 8px;
      border-radius: 3px;
    }
  }



  @media only screen and (min-width: 768px) {
  #responsivemenu{
    display: none !important;
  }}

  @media only screen and (max-width: 768px) {
    .mainnav div:first-child{
        display:none
    }
    #signupmain h3{
      display: none;
    }

    .mainslider{
        display: none;
    }
    .Navwrap{
        justify-content: flex-start;
        flex-direction: column;}
    #pipepic2{
        display: none;
    }  

    
    #responsivebtn{
        display: block;
        padding: 15px;
      
    }
    #textblock {
      right: 15%;
    }
  }


  @media only screen and (max-width: 678px) {
    #articleboxtext img{
      width: 150px;
    }
  }