@media only screen and (min-width: 1200px) {
    .footerwrap{
      width: 1215px;
      text-align: left;
    }

    .footer1spalte ul li{
     margin-left: -15px;
    }
    .footer2spalte ul li{
      margin-left: -15px;
     }

     .footer1spalte ul{
      margin-left: -25px;
     }
     #footerlogoarea div{
      width: 1215px ;
    }
  }

  @media only screen and (min-width: 1350px) {
    .mainnav{
        width: 1330px;
    }
    .colorfill{ 
    flex-basis: calc((100%-950px)/2);
    }
    #articleboxtext{
      width: 950px;
    }
    #pipepic{
      right: -350px
    }
    #signupmain {
      justify-content: flex-start;
    }
    #textblock{
      min-width: unset;
    }

  }
  @media only screen and (min-width: 1620px) {
    .midtext{
      justify-content: flex-end !important;
    }
    #textblock{
      min-width: 600px;
    }
  }
  @media only screen and (min-width: 1620px) {
    .mainnav{
        width: 1400px;
    }

  }
  @media only screen and (min-width: 2320px) {
  #pipepic2{
    display: none;
  }}


  @media only screen and (max-width: 1140px) {
    .footer2spalte ul ul{
      display: block;
 
      padding: 10px
    }
    .mainnav div{
        flex-wrap: wrap;
    }

    .mainnav ul:last-child {
        flex-basis: 25%;
    }
    #pipepic{
        display: none;
    }
    .mainfooter{
        height: 550px;
        justify-content: flex-start;
    }
    .footerwrap{
        flex-wrap: wrap;
    }
    .footer2spalte{
        flex-basis: 100%;
    }
    .footer2spalte{
      justify-content: center;
      text-align: center;
      margin-top: -35px;
    }
    .footer2spalte ul{
      padding-left: 0px;
      justify-content: center;
    }
    .footer1spalte{
      max-width: 160px !important;
    }
    .footer1spalte h4{
      font-size: 80%;
    }
    .footer2spalte h4{
      font-size: 80%;
      margin-left: 0px
    }
    #frontbtn{
      display: none;
    }
    #nextbtn{
      display: none;
    }
    #couterr{
      display:none;
    }
    #sliderrr{
      display:none;
    }

    #respimg{
      display: block;
    height: 200px;
      min-width: 1100px;
      width: 100%;
      
    }

  }

  @media only screen and (max-width: 1024px) {
    #bodymid{
      display: block;
      position: relative;
    }

    .midtext{
      position: absolute;
      z-index: 450;
      width: 100%;
      display: block;

    }
    
    #overlay{
      display: block;
      width: 100%;
      z-index: 449;
      height: 600px;
      margin-top:-70px;
      opacity: 0.5;
      background-color: #333;
    }
    #textblock{
      position: absolute;
      right: 25%;
      top:40%;
      color:white;
      text-align: center;
   
    }
    #textblock a{
      background-color: white;
      padding: 8px;
      border-radius: 3px;
    }
    .footerbtnwrapper div:first-child{
     
    }
    .footerbtnwrapper div:last-child ul{
     padding-left: 0px;
    }
  }



  @media only screen and (min-width: 768px) {
  #responsivemenu{
    display: none !important;
  }}

  @media only screen and (max-width: 768px) {
    .mainnav div:first-child{
        display:none
    }

    #signupmain h3{
      display: none;
    }

    .mainslider{
        display: none;
    }
    .navwrap{
        justify-content: flex-start;
        flex-direction: column;}
    #pipepic2{
        display: none;
    }  
    .footer2spalte ul ul{
      width: 50%;
    
    }
    
    #responsivebtn{
        display: block;
        padding: 15px;
        background-color: #072B49;
      
    }
    #textblock {
      right: 20%;
    }
  }


  @media only screen and (max-width: 678px) {
    #articleboxtext img{
      width: 150px;
    }
    .midtoptext h3{
      font-size: 1.5em;
    }
    .mainfooter{
      height: 750px;
    }
    #pipepic23{
      display: none;
    }
    #signupmain{
     width: 10px;
     flex-basis: 3%;
    }
    #signupinfo div p, #signupinfo div input{
      max-width: 300px;
    }
    .articlewrap{
      position: relative;
    }
    .articlewrap button{
      position: absolute;
      left: 30%
    }
    .mainnews{
      margin-top: -35px
    }
    #bodymid {
      height: 520px;
    }
    .footerwrap, .mainfooter{
      display: block;
  
    }
    #textblock {
      right: 20%;
      max-width: 350px;
    }

    .footer2spalte{
      margin-top: 0px;
    }

    .mainfooter .footer1spalte{
      margin-left: 25px;
     
    }

    #footerlogoarea {
      margin-bottom: -20px;
    }
    .mainfooter{
      position: relative;
    }
    .footerwrap{
      background-color: #072B49;
    }
    .footerbtnline{
      width: 100%;
      display: block;
     bottom:0px;
     left:0px;
     background-color: #072B49;
    }
    .footerbtnwrapper div{
      display: block;
      width: 100%;
      float:right
    }
    .footerbtnwrapper div:first-child {
      display:none;
      margin-top: 35px;
     
    }
    .footerbtnwrapper div:last-child ul{
      padding: 0px;
    }
    .footerbtnwrapper2{
      display: block;
    }
    .footerbtnwrapper2 div:first-child{
      height: 30px;
    }
    .footerbtnwrapper2 div{
      flex-basis: 100%;
    }
    #langicon{
      position: absolute;
      z-index: 150;
      top: 22px;
      right: 100px;
    }
    #conticon{
      position: absolute;
      z-index: 150;
      top: 22px;
      right: 248px;
    }
    #pipepic2{
      display: block;
      top: 1500px;
      width: 100px
    }
    #footerlogoarea{
      display: block;
      padding-left: 25px;
    }
  }
  @media only screen and (max-width: 570px) {
    #textblock{
      right: 15%;
    }
    .footerbtnline{
      height: 110px;
    }
    #textblock {
      right: 18%;
      max-width: 300px;
    }

  }
  @media only screen and (max-width: 460px) {
  #articleboxtext{display: none;}
  .mainbody{
    margin-top: -80px;
  }
  #pipepic2{
    display: none;
  }

  #langicon, #conticon{
    display: none;
  }
  .midtoptext h3{
    font-size: 1.5em;
  }
  .articletop, .articlebot{
    height: 10px;
    background-color: transparent;
  }
  .midtoptext {
    margin-top: 62px
  }
  .midtoptext div{
    padding-bottom: 35px;
  }
  #langs, #country{
    margin-top: 55px;
  }
  #textblock {
    right: 20%;
    max-width: 250px;
    margin: auto;

  }
}
@media only screen and (max-width: 430px) {
  #textblock {
    right: 20%;
    max-width: 250px;
    margin: auto;

  }
      #signupinfo div p{
        max-width: 220px;
      }
}
@media only screen and (max-width: 400px) {
  #textblock {
    right: 17%;}
}
@media only screen and (max-width: 385px) {
  #textblock {
    right: 11%;
  }
}

@media only screen and (max-width: 335px) {
  #textblock {
    right: 3%;
  }
}